body {
  color: black;
  background: url(jpg/backCat.png) no-repeat bottom center fixed;
  background-size: cover;
}
.mainPage {
  background: url(svg/cat/catMain.svg) no-repeat bottom center fixed;
  background-size: cover;
  height: 100vh;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 7vh;
  box-sizing: border-box;
  color: #fff;
}
.title {
  display: flex;
  justify-content: center;
  margin: 0;
}
.git {
  color: black;
}
