body {
  color: black;
  background: #fff;
  background: url(jpg/catBack.png) repeat scroll;
}
.mainPage {
  background: url(svg/cat/catMain.svg) no-repeat bottom center fixed;
  background-size: cover;
  height: 100vh;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 7vh;
  box-sizing: border-box;
  color: #fff;
}
.title {
  display: flex;
  justify-content: center;
  margin: 0;
}
@media (min-width: 520px) and (max-width: 991px) {
  .mainPage {
    background-position: center center;
    background-attachment: scroll;
  }
}
@media (min-width: 480px) and (max-width: 1400px) and (orientation: landscape) {
  .mainPage {
    background-position: center center;
    background-attachment: scroll;
  }
}
