@font-face {
font-family: 'FairwallSans-Regular';
src: url("font/FairwallSans-Regular.otf") format("opentype");
}
@font-face {
font-family: 'FemmeFatale';
src: url("font/FemmeFatale-Regular.otf") format("opentype");
}
* {
  cursor: url(svg/cursor.svg), auto;
}
body {
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: 'FairwallSans-Regular';
  overflow-x: hidden;
}
::selection {
  background: #D6F301;
  color: black;
}
header {
  font-size: calc(20px + 100vw/1280);
  margin-top: 5vh;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 3vw 0 3vw;
  color: #fff;
}
.underline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 7vw 0 7vw;
}
.underline img {
  max-width: 15vw;
}
.arrow {
  min-width: 15px;
  width: calc(25px + 5 * 100vw/1280);
  padding: 0 20px;
}
main {
  margin: 0 3vw;
}
a {
  text-decoration: none;
  cursor: url(svg/pointer.svg), auto;
}
a:active {
  background-color: #D6F301;
  color: black;
}
.title {
  font-size: calc(60px + 20 * 100vw/1280);
  font-family: 'FemmeFatale';
}
.description {
  text-align: center;
  font-size: calc(25px + 100vw/1280);
  margin: 0 23vw;
}
.status {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0 3vw;
}
.smear {
  position: relative;
  left: 25vw;
  max-width: 30vw;
  min-width: 20vw;
}
.status p {
  z-index: 10;
  max-width: 45vw;
  font-family: "FemmeFatale";
  font-size: calc(25px + 5 * 100vw/1280);
}
.roles {
  font-size: calc(25px + 100vw/1280);
  text-align: center;
}
.about {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: -6vh 15vw 15vh 15vw;
}
.textAbout {
  margin: 3vh 0 8vh 0;
}
.textAbout > .title {
  font-size: calc(40px + 100vw/1280);
  margin: 5vh 10vw 0 10vw;
}
.textAbout > .paragraph {
  font-size: calc(25px + 100vw/1280);
  margin: 0 10vw;
}
.illustration {
  width: 100%;
  height: auto;
}
.illustrations {
  display: flex;
  justify-content: space-between;
}
.illustrations img {
  width: 18vw;
  cursor: url(svg/zoom.svg), auto;
}
.git {
  display: flex;
  left: 0;
  right: 0;
  margin: auto;
  text-decoration: underline;
  font-size: calc(25px + 100vw/1280);
  color: #fff;
  margin-bottom: 20vh;
  width: max-content;
}
.buttonToMainPage {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  justify-content: center;
  bottom: 60px;
  z-index: 20;
  opacity: 0.5;
  border: none;
  border-radius: 30px;
  width: min-content;
  background: #000;
  font-size: calc(25px + 100vw/1280);
  color: #fff;
  padding: 10px 55px;
  transition: all ease 1s;
}
.buttonToMainPage:hover {
  opacity: 1;
  background: #4E5367;
  color: #FFE194;
}
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: #2B2B2B;
  z-index: 1001;
}
.wrapper {
   display: flex;
   justify-content: center;
   margin-top: 45vh;
}
.preloader_text {
   width: 7ch;
   color: white;
   font-family: monospace;
   font-size: 30px;
   white-space: nowrap;
   overflow: hidden;
   border-right: 3px solid white;
   animation: cursor 0.1s step-end infinite,
   printed_text 0.5s steps(7);
}
@keyframes cursor {
  0% {
    border-color: white;
  }

  50% {
    border-color: transparent;
  }

  100% {
    border-color: white;
  }
}
@keyframes printed_text {
  from {
    width: 0;
  }
}
.loaded {
  display: none;
}

@media (max-width: 1000px) {
  header {
    font-size: 35px;
  }
  .title {
    font-size: 75px;
  }
  .description {
    font-size: 35px;
  }
  .textAbout > .text {
    font-size: 35px;
  }
  .textAbout > .title {
    font-size: 45px;
  }
  .about {
    margin: -6vh 5vw 0 5vw;
  }
  .git {
    font-size: 25px;
  }
  .illustrations img {
    width: 22vw;
  }
  .buttonToMainPage {
    bottom: 60px;
  }
}
