@font-face {
font-family: 'FairwallSans-Regular';
src: url("font/FairwallSans-Regular.otf") format("opentype");
}
@font-face {
font-family: 'FemmeFatale';
src: url("font/FemmeFatale-Regular.otf") format("opentype");
}
* {
  cursor: url(svg/cursor.svg), auto;
}
body {
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: 'FairwallSans-Regular';
  overflow-x: hidden;
}
::selection {
  background: #D6F301;
  color: black;
}
header {
  font-size: 1.5vw;
  margin-top: 5vh;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 3vw 0 3vw;
  color: #fff;
}
.underline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 7vw 0 7vw;
}
.underline img {
  max-width: 15vw;
}
.arrow {
  padding: 0 20px;
}
main {
  padding: 0 3vw;
}
a {
  text-decoration: none;
  cursor: url(svg/pointer.svg), auto;
}
.title {
  font-size: 5vw;
  font-family: 'FemmeFatale';
}
.status {
  margin-left: 55vw;
}
.smear {
  margin-top: 22vh;
  width: 30vw;
}
.status p {
  z-index: 10;
  margin-top: -10vh;
  max-width: 45vw;
  font-family: "FemmeFatale";
  font-size: 2vw;
}
.buttonToMainPage {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  justify-content: center;
  top: 90vh;
  z-index: 20;
  opacity: 0.5;
  border: none;
  border-radius: 30px;
  width: min-content;
  background: #000;
  font-size: 1.3vw;
  color: #fff;
  padding: 10px 55px;
  transition: all ease 1s;
}
.buttonToMainPage:hover {
  opacity: 1;
  background: #4E5367;
  color: #FFE194;
}
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: #2B2B2B;
  z-index: 1001;
}
.wrapper {
   display: flex;
   justify-content: center;
   margin-top: 45vh;
}
.preloader_text {
   width: 7ch;
   color: white;
   font-family: monospace;
   font-size: 30px;
   white-space: nowrap;
   overflow: hidden;
   border-right: 3px solid white;
   animation: cursor 0.1s step-end infinite,
   printed_text 0.5s steps(7);
}
@keyframes cursor {
  0% {
    border-color: white;
  }

  50% {
    border-color: transparent;
  }

  100% {
    border-color: white;
  }
}

@keyframes printed_text {
  from {
    width: 0;
  }
}

.loaded {
  display: none;
}
