body {
  background: black;
}
header {
  width: 100vw;
  font-size: 1.5vw;
}
.header {
  display: flex;
  margin: -1vh 3vw 0 3vw;
  z-index: -5;
  width: 90vw;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: -4vw 3vw 0 3vw;
  color: #fff;
}
.arrow {
  padding: 0 10px;
}
.purposeBackground {
  position: absolute;
  top: 0;
  z-index: -10;
  width: 100vw;
}
main {
  padding: 0 3vw 0 3vw;
}
.purpose {
  padding-top: calc(100vw*9/32 - 35vh);
  margin: 0 3vw 0 3vw;
}
.description {
  margin-top: -1vh;
  font-size: 1.5vw;
  margin: 0 3vw 0 3vw;
}
.status {
  margin-left: 55vw;
}
.smear {
  margin-top: 18vh;
  width: 30vw;
}
.status p {
  z-index: 10;
  margin-top: -12vh;
  max-width: 45vw;
  font-family: "FemmeFatale";
  font-size: 2vw;
}
.roles {
  margin-top: 18vh;
  font-size: 1.5vw;
}
.lamp {
  display: flex;
  right: 3vw;
  position: absolute;
  top: calc(100vw*9/18);
  z-index: -5;
}
.about {
  display: flex;
  margin-top: 5vh;
}
.textAbout > .text {
  font-size: 1.5vw;
  margin: -10px 0 30px 100px;
}
.textAbout > .title {
  font-size: 2.2vw;
  margin: 0 0 10px 100px;
}
.illustration {
  min-width: 42vw;
}
.aboutProject {
  margin: 100px 0 100px 0;
  align-items: flex-start;
  font-size: 1.5vw;
}
.robot {
  height: calc(42vw * 9/16);
}
.aboutProject > .textAbout {
  text-align: right;
  margin: 0 100px 50px 0;
}
.illustrations {
  display: flex;
  justify-content: space-between;
}
.scene {
  text-align: center;
  font-size: 1.5vw;
  margin-bottom: -10vh;
}
.scene > .illustration {
  max-width: 35vw;
}
.buttonToMainPage {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  justify-content: center;
  top: 90vh;
  z-index: 20;
  opacity: 0.5;
  border: none;
  border-radius: 30px;
  width: min-content;
  background: #000;
  font-size: 1.3vw;
  color: #fff;
  padding: 10px 55px;
  transition: all ease 1s;
}
.buttonToMainPage:hover {
  opacity: 1;
  background: #4E5367;
  color: #FFE194;
}
@media (max-width: 1365px) {
  .roles {
    margin-top: 25vh;
  }
}
@media (max-width: 1175px) {
  .purpose {
    margin-top: 10vh;
  }
  .smear {
    margin-top: 13vh;
  }
  .status p {
    margin-top: -8vh;
  }
  .roles {
    margin-top: 10vh;
  }
}
@media (max-width: 955px) {
  .status p {
    margin-top: -13vh;
  }
  .smear {
    margin-top: 5vh;
  }
  .roles {
    margin-top: 0;
  }
}
@media (max-width: 660px) {
  .smear {
    margin-top: -30vh;
  }
}
