body {
  background: url(jpg/backgroundTexture.jpg) center center fixed;
  background-size: cover;
}
.leftUnderline {
  width: 13vw;
}
#VALD {
  left: 0;
  right: 0;
  margin: auto;
  width: min-content;
}
#mainPage {
  background: url(svg/VALD/VALDMain.svg) no-repeat bottom center fixed;
  background-size: cover;
  height: 100vh;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 7vh;
  box-sizing: border-box;
}
main {
  color: black;
}
hr {
  background: black;
  height: 1px;
}
.illustrations {
  margin-bottom: 0;
}
.git {
  color: black;
}
@media (max-width: 1100px) {
  body {
    background: none;
  }
}
