body {
  background: black;
}
.purposeBackground {
  position: absolute;
  top: 0;
  z-index: -10;
  width: 100vw;
}
.purpose {
  text-align: center;
  padding-top: 8vw;
  margin: 0;
}
.mainPage {
  height: 100vh;
  margin-bottom: 20px;
}
.lamp {
  display: flex;
  right: 3vw;
  position: absolute;
  top: calc(100vh + 3vh);
  z-index: -5;
  width: 15vw;
}
